@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
	padding:0;
	margin:0;
	position: relative;
	color:black;
	text-align:center;
	font-family: 'Droid Sans', sans-serif;
}

.wrap {min-height: 100%;}

.footer {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 180px;
	clear:both;
	margin-top:10px;
	border-top: 2px solid #000;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 100px;
	background-color: #19181A;
}
.sesion{
	position:absolute;
	top:100px;
	right:10px;
	z-index:99;
}
.danger{
	width: 100%;
	height: 50px;
	border: #FF4B3A solid;
	background: #FF4B3A;
	text-align:center;
}
.centrar{
	text-align:center;
	display:block;
}
.distanciaTop{
	margin-top:50px;
}

.contenido  {
	overflow:hidden;
	padding-bottom: 100px;
	position: relative;
	width:100%;
	min-height:100%;
        /*Empuja el pie hacia abajo*/ 
}
/*
Fondos
*/
.fondo {
	background-color: #fff;
}
.letrasNegras{
	color:#000;
}

/*
Textos
*/
.textBox {
   width: 300px;
   height: 20px;
   border: solid 3px #CC7700;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: 0px 1px 2px 0px #9C9C9C;
   background-color: #FFFFFF;
   outline: none;
   color: #000000;
  }
.textBox:focus  {
   border: solid 2px #FFBF00;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
  .textArea {
   width: 550px;
   height: 180px;
   border: solid 3px #CC7700;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: 0px 1px 2px 0px #9C9C9C;
   background-color: #FFFFFF;
   outline: none;
   color: #000000;
  }
.textArea:focus  {
   border: solid 2px #FFBF00;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }

 /*
Botones
 */
.btn {
  background: #328dc9;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 16px 7px 16px;
  text-decoration: none;
}

.btn:hover {
  background: #adadad;
  text-decoration: none;
}

/*
Mascota
*/
.monito{
	position:fixed;
	bottom: 25px;
	right:30px;
	width: 100px !important;
	height: 75px;
	transition: .2s ease-in-out;
	z-index:1 ;
}

.monito:hover {	
	transform: translateY(-30%);
}
.monito img {
	width: 100%;
}
/*
Menu
*/
nav {
	font-size:28px;
	width:100%;
	height:60px;
}
nav ul {
	height:100%;
	list-style: none;
	padding: 0;
	transition: .3s ease-in;
	margin: 0;
	z-index:2;
	width:100%;
}
nav ul a {
	color:white;
	text-decoration:none;
}
nav > ul > li {
	padding-top:20px;
	height:100%;
	color: white;
	display: inline-block;
	background: #19181A;
	position: relative;
	margin: -4px;
	width:20%;
}

ul li:hover {
	background:#0B99CB;
}

nav > ul > li > ul {
	position: absolute;
	transform: translateY(0%);
	visibility: hidden;
	width:100%;
	opacity: 0;
	z-index:99;
}
nav > ul > li > ul > li {
	padding-top:20px;
	display: block;
	list-style:none;
	position: relative;
	background: #19181A;	
	width: 100%;	
	opacity: 1;
	z-index:99;
	padding-bottom:20px;
}
nav > ul > li:hover > ul{
	height:60px;
	visibility: visible;
	opacity: 1;
	transform: translateY(45%);
}
 nav > ul > li > ul > li:hover {
	background: #0B99CB; 
}
.clase20 {
	width: 20% !important;
}

.clase25 {
	width: 25% !important;	
}
/*
Slider
*/
.slider-container{
	background-image:url(../img/fondoB&W.jpg);
	background-size:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	width:100%;
	z-index:5;	
}
.slider{
	background-image:url(../img/fondoB&W.jpg);
	background-size:100%;
	width:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.slider-wrapper{
	position:relative;
	height:360px;
	width:97.1%;
	/* border:5px solid #415066; */
	overflow:hidden;
}
.slider-wrapper > li img {
	position: absolute;
	top: -50% !important;
	width: 100%;
	height: 100%;
	z-index: 7;
}
.slider-wrapper > li > div{
	bottom: 0;
	left: 0;
	margin-bottom: 5px;
	background-color:#000;
	position: absolute;
	margin-left: -10px;
	border-radius: 10px;
	width: 30%;
	height: 20%;
	opacity: 0.7;
	z-index: 8;
}
.slider-wrapper li{
	display:none;
}
li.slide-current{
	display:block;
}
.slider-wrapper li img {
	position:absolute;
	top:0;
	left:0;
	max-width:100%;
	height:auto;
}
a{
	color:#e67e22;
	text-decoration:none;
}
a:hover{
	color:#f39c12;
}
.contenedorFormulario{
	color: white;
	background-color:#404241;
	opacity: 0.95;
	border-color: #ecf0f1;
	border: 2px solid;
    border-radius: 5px;
}

.form-control{
	width: 95%;
}